<div class="hero" >
    <%= image_tag "athletes-endurance-energy-685534.jpg", style: "width: 100%;" %>
    <div class="hero-text" >
        <h1> Welcome to the Home Page of Gymook</h1>
        <button class="btn bg-light" >
            <%= link_to("Contact Us", contact_us_path, class: "text-secondary") %>
        </button>
    </div>
</div>
