<div class="card-group m-5 justify-content-center">

    <div class="card" style="border-radius: 20px" >
        <h3 class="card-title m-5" >Your card will be charged <%= number_to_currency(@booking.occurence.gym_class.cost) %></h3>
        <form id="stripe-form" class="card-body" >
            <div class="form-group m-5">
                <div class="card-title">
                    <label for="card-element">Credit or debit card</label>
                </div>
                
                <div id="card-element" class="card-text" >
                    <!-- A Stripe Element will be placed here! -->
                </div>

                <div id="card-errors" class="card-text" >
                    <!-- Used to display Element errors. -->
                </div>
            </div>

            <button class="btn bg-light text-secondary float-right m-5" type="submit">Pay</button>
        </form>
    </div>

    <%= form_tag(booking_payments_path(@booking), id: "new-payment-form") do %>
        <%= hidden_field_tag :stripe_token %>
    <% end %> 
</div>