// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-container {
    background-image: url(/assets/pexels-photo-685533.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 0 !important;
}

#sign-in-container {
    background: whitesmoke;
    display: flex;
    width: 30vw;
    height: 75vh;
    border-radius: 5px;
}

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#demo-styling {
    color: steelblue;
}